#login-form {
  display: flex;
  width: 30%;
  flex-direction: column;
  margin: 15% auto;
}

#login-form input {
  margin-bottom: 4%;
  padding: 2%;
}

#login-form button{
  width: fit-content;
  margin-left: auto;
  padding: 2%;
}

#error{
  color: red;
}

@media all and (max-width: 1000px) {
  #login-form {
    margin: 40% auto;
    width: 50%;
  }
}
