{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HospitalBed Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
{% csrf_token %}
<!--template div-->
<div id="template-div" hidden>
    <!-- content-view template -->
    <div id="content-view-template" draggable="true" data-location="" data-theme="" data-time="" data-order=""
         data-id="" hidden>
        <div class="delete-div">
            <img class="delete-image" src="/static/images/cross-close.svg">
        </div>
        <div class="content-view-head">
            <img class="download-image" src="/static/images/download.svg">
            <h2 class="content-view-heading">
                <!--Heaading-->
            </h2>
        </div>
        <div class="content-view-input-div">
            <div class="location-input-div">
            </div>
            <div class="time-input-div">
            </div>
        </div>
        <div class="content-view-data-div"></div>
    </div>

    <!-- time-span template -->
    <span class="time-input-span time-template">Zeitpunkt:
            <input class="time-input" type="datetime-local" value="">
    </span>

    <!-- from-, to- time templates -->
    <span class="time-input-span from-template">Von:
        <input class="from-input" type="datetime-local" value="">
    </span>
    <span class="time-input-span to-template">Bis:
            <input class="to-input" type="datetime-local" value="">
    </span>

    <!-- location select template -->
    <select class="selection-input">
        <!--All location options-->
    </select>

    <!-- occupancy chart canvas -->
    <canvas class="information-chart-canvas data-holder" hidden></canvas>

    <!-- location-div and location-head-div templates for rooms, wards-->
    <div class="location-list-head-div location-template">
        <h4 class="location-name-head"><!--Name of location (Station, Fachabteilung or Room)--></h4>
        <h4 class="location-occupancy-head">Auslastung</h4>
        <div class="location-legend">
            <span class="occupied-rectangle">O</span>
            <span class="occupied-text">Belegt</span>
            <span class="empty-rectangle">O</span>
            <span>Leer</span>
        </div>
    </div>
    <div class="location-list-div">
        <!--location divs-->
    </div>

    <div class="location-div location-template">
        <span class="location-name-span"><!--Name--></span>
        <span class="location-occupancy-span"><!--Occupancy number/max--></span>
        <canvas class="location-occupancy-chart-canvas" width="1800" height="10"/>
    </div>

    <!-- location-list-div and location-list-head-div templates for beds-->
    <div class="location-list-head-div bed-template">
        <h4 class="bed-name-head">Bett</h4>
        <h4 class="bed-age-head">Alter</h4>
        <h4 class="bed-sex-head">Geschlecht</h4>
    </div>
    <div class="location-list-div">
    </div>

    <div class="location-div bed-template">
        <span class="bed-name-span"><!-- name of bed --></span>
        <span class="bed-age-span"><!-- average age --></span>
        <span>
            <!-- input right gender class (male-rectangle, female-rectangle, diverse-rectangle, empty-rectangle) -->
            <span class="sex-rectangle">O</span>
            <span class="bed-sex-span"></span>
        </span>
    </div>

    <!-- occupancy history chart canvas template -->
    <canvas class="occupancy-history-chart-canvas data-holder" hidden></canvas>

    <!-- room information template -->
    <div class="room-data-div data-holder" hidden>
        <span class="room-free-beds-span">
            <h4 class="room-heading-h4">Freie Betten: </h4>
            <h4 class="room-free-beds-h4">
                <!-- input the number of free beds-->
            </h4>
        </span>
        <span class="room-sex-span">
            <h4 class="room-heading-h4">Geschlecht: </h4>
            <h4 class="room-sex-h4">
                <span class="sex-rectangle-span">O</span>
                <span class="sex-span"></span>
                <!-- input the right gender + class for right color(male-rectangle, female-rectangle, diverse-rectangle, empty-rectangle)-->
            </h4>
        </span>
        <span class="room-age-span">
            <h4 class="room-heading-h4">&#216; Alter:</h4>
            <h4 class="room-age-h4"></h4>
        </span>
        <span class="room-occupancy-span">
            <h4 class="room-heading-h4">Auslastung: </h4>
            <h4 class="room-occupancy-h4">
                <!-- input the occupancy-->
            </h4>
        </span>
    </div>

    <!-- loader template -->
    <div class="loader"></div>
</div>

<div id="head-div">
    <div id="user-div">
        <p id="user-text">
            <span id="user-span">Benutzer:</span>
            {{ user.username }}
        </p>
        <a href="/logout"><img id="log-out-image" src="{% static 'images/right-from-bracket-solid.svg' %}"></a>
    </div>
</div>

<!-- Dropdown Part -->
<ul id="add-ul">

    <li class="parent">
        <span id="add-span">
            <span id="add-text-span">Hinzufügen</span>
            <img id="add-image" src="{% static 'images/plus-solid.svg' %}">
        </span>

        <ul class="child">
            {% for location_type, location_dict in structured_data_representations.items %}
                <li class="selection parent">
                    {% if location_type == "W" %}
                        Station
                    {% elif location_type == "R" %}
                        Zimmer
                    {% elif location_type == "H" %}
                        Krankenhaus
                    {% endif %}
                    <span class="expand">»</span>
                    <ul class="child">
                        {% for theme_type, theme_set in location_dict.items %}
                            <li class="selection parent">
                                {% if theme_type == "I" %}
                                    Informationen
                                {% elif theme_type == "W" %}
                                    Auslastung der Stationen
                                {% elif theme_type == "R" %}
                                    Auslastung der Zimmer
                                {% elif theme_type == "B" %}
                                    Auslastung der Betten
                                {% elif theme_type == "H" %}
                                    Verlauf
                                {% endif %}
                                <span class="expand">»</span>
                                <ul class="child">
                                    {% for data_representation in theme_set %}
                                        <li class="selection time"
                                            data-location="{{ data_representation.location_type }}"
                                            data-theme="{{ data_representation.theme_type }}"
                                            data-time="{{ data_representation.time_type }}">
                                            {% if data_representation.time_type == "N" %}
                                                Neartime
                                            {% elif data_representation.time_type == "T" %}
                                                Zeitpunkt
                                            {% elif data_representation.time_type == "P" %}
                                                Zeitspanne
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </li>
</ul>
<data id="drag-data" value="-1"></data>
<!-- main part -->
<div id="content-div">
    {% for user_data_representation in user_data_representations %}
        <div class="content-view" draggable="true"
             data-location="{{ user_data_representation.data_representation.location_type }}"
             data-theme="{{ user_data_representation.data_representation.theme_type }}"
             data-time="{{ user_data_representation.data_representation.time_type }}"
             data-order="{{ user_data_representation.order }}"
             data-id="{{ user_data_representation.id }}">
            <div class="delete-div">
                <img class="delete-image" src="{% static 'images/cross-close.svg' %}">
            </div>
            <div class="content-view-head">
                <img class="download-image" src="{% static 'images/download.svg' %}">
                <h2 class="content-view-heading">
                    <!--filled by js-->
                </h2>
            </div>
            <div class="content-view-input-div">
                <div class="location-input-div">
                    {% if user_data_representation.data_representation.location_type == "W" %}
                        {% include 'location_select.html' with locations=wards user_data_representation=user_data_representation now=now selected_location=user_data_representation.ward %}
                    {% elif user_data_representation.data_representation.location_type == "R" %}
                        {% include 'location_select.html' with locations=rooms user_data_representation=user_data_representation now=now selected_location=user_data_representation.room %}
                    {% endif %}
                </div>
                <div class="time-input-div">
                    {% if user_data_representation.data_representation.time_type == "T" %}
                        <span class="time-input-span">Zeitpunkt:
                            <input class="time-input" type="datetime-local"
                                   value="{{ user_data_representation.formatted_time }}">
                        </span>
                    {% endif %}
                    {% if user_data_representation.data_representation.time_type == "P" %}
                        <span class="time-input-span">Von:
                            <input class="from-input" type="datetime-local"
                                   value="{{ user_data_representation.formatted_time }}">
                        </span>
                        <span class="time-input-span">Bis:
                            <input class="to-input" type="datetime-local"
                                   value="{{ user_data_representation.formatted_end_time }}">
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="content-view-data-div">
                <!--filled by js-->
            </div>
        </div>
    {% endfor %}

    <script src="{% static 'js/script.js' %}"></script>
</div>
</body>
</html>